/* ===================== Start MAIN SECTION ===================== */
main {
    position: relative;
    top: 6.9rem;
}

.main-container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

/* ===================== Start Main Left ===================== */
.main-left {
    position: sticky;
    height: max-content;
    top: 5.4rem;
}

.main-left .profile {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
}

aside {
    margin-top: 0.75rem;
    border-radius: var(--card-border-radius);
}

aside .menu-item {
    display: flex;
    align-items: center;
    height: 3.75rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--color-white);
}

aside .menu-item:hover {
    background: var(--color-light);
}

aside .menu-item span img {
    width: 1.7rem;
    margin-left: 2rem;
    position: relative;
}

aside .notfy-counter {
    background: var(--color-danger);
    color: var(--color-white);
    width: fit-content;
    font-size: 0.7rem;
    border-radius: 30%;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: 0.7rem;
    left: 3.2rem;
}

aside .menu-item h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

aside .active {
    background: var(--color-light);
}

aside .active h3 {
    color: var(--color-primary);
}

aside .active::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    background: var(--color-primary);
}

aside .menu-item:nth-child(1) {
    overflow: hidden;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

aside .menu-item:nth-last-child(2) {
    overflow: hidden;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.btn-lg {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

/* ................... Start Notification Box ............. */
.notification-box {
    width: 30rem;
    left: 110%;
    position: absolute;
    top: 0;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--color-primary) 0 0 1rem;
    z-index: 9;
    display: none;
}

.notification-box::before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.notification-box>div {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;
}

.notification-box .profile-picture {
    width: 2.6rem;
}

.notification-box>div small {
    display: block;
}
/* ................... End Notification Box ............. */

/* ===================== End Main Left ===================== */

/* ==================================================================================================== */

/* ===================== Start Main Middle ===================== */

/* ................... Start Stories ............. */
.middle-container {
    max-width: 700px !important;
    width: 90%;
    margin: 0 auto;
}

.stories-wrappper {
    display: flex;
    gap: 0.5rem;
    height: 12rem !important;
}

.stories-wrappper .story {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.story input {
    display: none;
}

.story::before {
    height: 5rem;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, var(--color-primary));
    width: 100%;
}

.stories-wrappper .story:first-child {
    background: var(--color-primary);
}

.story .profile-picture {
    position: absolute;
    top: 0.6rem;
    left: 0.2rem;
    width: 2.4rem;
    border: 2px dashed var(--color-primary);
    z-index: 8;
}

.story p {
    text-align: center;
    margin-top: -3rem;
    color: var(--color-white);
    z-index: 8;
    position: absolute;
    width: 100%;
}

.story>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story .add-story {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.story .add-story i {
    display: block;
    font-size: 1.4rem;
    margin-top: -1rem;
    color: var(--color-white);
}

.story .add-story p {
    margin-bottom: -7rem;
}
/* ................... End Stories ............. */

.main-middle .add-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
    background: var(--color-white);
    margin-top: 1rem;
}

.main-middle .add-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.main-middle .add-post .profile-picture {
    width: 2.8rem;
}

/* ......................... Start Feed Aria ............... */
.feeds .feed {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin: 1rem auto;
    line-height: 1.5;
    font-size: 0.85rem;
}

.feeds .feed .feed-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

/* Feed kısmına eklenecek class (2:14:44) */
.myFeed .feed-top .edit {
    position: relative;
}

.feed .feed-top .user {
    display: flex;
    gap: 1rem;
}

.feed .feed-top .edit img {
    width: 1.6rem;
}

.feed .feed-img {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.8rem 0;
}

.feed .action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.action-button span:first-child i {
    font-weight: normal;
}

.action-button span:nth-child(2) i {
    font-weight: normal;
}

.bookmark i {
    font-weight: normal;
}

.liked-by {
    display: flex;
}

.liked-by span {
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    margin-left: -0.6rem;
    border: 2px solid var(--color-white);
}

.liked-by span:first-child {
    margin: 0;
}

.liked-by p {
    margin-left: 0.5rem;
}

.hars-tag {
    color: var(--color-primary);
}

.edit .edit-menu {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    /* right: 0; */
    right: 22rem;
    box-shadow: 0 0 0.2rem var(--color-primary);
    /* top: 2.4rem; */
    top: 20rem;
    transform: scale(0);
    transition: 300ms all ease;
    transform-origin: top right;
}

.edit:hover .edit-menu {
    transform: scale(1);
}

.edit .edit-menu li {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-size: 1rem;
    color: var(--color-gray);
    transition: 300ms ease all;
}

.edit .edit-menu li:hover {
    color: var(--color-dark);
}

.edit .edit-menu li:last-child:hover {
    color: var(--color-danger);
}

/* ......................... End Feed Aria ............... */

/* ===================== End Main Middle ===================== */

/* ==================================================================================================== */

/* ===================== Start Main Right ===================== */
.main-right {
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
}
/* ................... Start Message ............. */
.messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.message-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.messages i {
    font-size: 1.4rem;
}

.message-search-bar {
    display: flex;
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.message-search-bar input[type="search"] {
    background: transparent;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.message-categories {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.message-categories h6 {
    font-weight: bold;
    width: 100%;
    font-size: 0.85rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid var(--color-light);
    text-align: center;
}

.message-categories .active {
    border-color: var(--color-primary);
}

.message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.message:last-child {
    margin-bottom: 0;
}

.message p {
    font-size: 0.8rem;
}

.message .profile-picture {
    position: relative;
    overflow: visible;
    height: 2.6rem;
    width: 2.6rem;
}

.message .profile-picture img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.green-active {
    width: 0.8rem;
    height: 0.8rem;
    background: var(--color-success);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.message-request {
    color: var(--color-primary);
}
/* ................... End Message ............. */

/* ................... Start Firend Rquest ..... */
.firend-rquest {
    margin-top: 1rem;
}

.firend-rquest h4 {
    color: var(--color-dark);
    margin: 1rem 0;
}

.request {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1rem;
}

.alert {
    display: none;
}

.request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;    
}

.request .action {
    display: flex;
    gap: 1rem;
}

.request .action .btn-danger {
    background: var(--color-danger);
    color: var(--color-white);
}

/* ................... End Firend Rquest ....... */

/* ===================== End Main Right ===================== */

/* ===================== End MAIN SECTION ===================== */

/* ====================================================================================================== */

/* =============== Start PopUps Aria ================== */

/* ....... Start Profile Popup .............. */
.popup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 9;
    background: #000000ba;
    display: none;
}

.popup>div {
    display: flex;
}

/* .profile-popup-box {
    width: 400px;
    height: 460px;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
} */

.popup-box {
    width: fit-content;
    height: max-content;
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: var(--color-primary) 0 0 1rem;
}

.profile-popup-box>div {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2rem;
}

#profile-upload {
    display: none;
}

.profile-popup-box h1 {
    line-height: 1.8;
}

.popup .close {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}

/* ....... End Profile Popup .............. */

/* ....... Start Add Post Popup .............. */
/* .add-post-popup {
    display: flex;
} */

.add-post-popup {
    gap: 1rem;
}

.post-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-title label {
    font-size: 1.4rem;
    font-weight: bold;
}

.post-title input {
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    font-size: 1.1rem;
}

.post-title input:focus {
    border: 1px solid var(--color-gray);
}

.post-img {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-img input[type='file'] {
    display: none;
}

.post-img img {
    width: 6rem;
    margin: auto;
}

.post-img .feed-upload-button {
    padding: var(--card-padding);
    border: 2px dashed var(--color-dark);
    font-weight: bold;
}
/* ....... End Add Post Popup .............. */

/* =============== End PopUps Aria =================== */